/* -----------------------------------------
    CSS specified defaults
   -----------------------------------------
*/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  word-wrap: break-word;
}

@media only screen and (min-width: 718px) {
  body {
    width: 100%;
    background: #077054;
    color: #315f52;
    padding: 0px;
    margin: 0px;
    font-family: 'lato-regular';
    font-weight: lighter;
  }
  @font-face {
    font-family: 'lato-regular';
    src: url("./lato-regular-webfont.ttf");
    font-weight: lighter;
  }
  @font-face {
    font-family: 'nixie_oneregular';
    src: url("./nixieone-regular-webfont.ttf");
  }
  html {
    width: 100%;
  }
  /* -----------------------------------------
        This is for header 
       -----------------------------------------
    */
  .mobile-menu {
    display: none;
  }
  .mobile-ex {
    display: none;
  }
  h1 {
    text-align: center;
    font-family: 'lato-regular';
    color: #99fa99;
    padding: 30px 0px 0px;
    margin: 0px 0px;
    font-size: 5rem;
    line-height: 3.5rem;
    font-weight: lighter;
    /* background-color: pink; */
  }
  h3 {
    text-align: center;
    font-family: 'nixie_oneregular';
    font-weight: lighter;
    font-size: 2.6rem;
    color: #b6d8cf;
    padding: 07px 0px 20px;
    margin: 0px;
  }
  /* nav ul{
        align-self : center;
    } */
  ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0px;
    margin: 0px 16%;
  }
  ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 20px 0px 09px;
    font-size: 2rem;
    font-weight: lighter;
  }
  .active a, .active.inst a {
    color: #99fa99;
    outline: none;
    text-decoration: none;
  }
  .about a {
    outline: none;
    color: #b6d8cf;
    text-decoration: none;
  }
  .about a:hover {
    color: #d3a3ff;
    outline: none;
  }
  .about ul {
    display: none;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0px;
    position: absolute;
    top: 170px;
    left: 50%;
    -webkit-transform: translate(-50%, -28%);
            transform: translate(-50%, -28%);
    /* background: brown; */
  }
  .about.classes:hover ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about ul li {
    background: #077054;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .active ul {
    display: none;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0px;
    position: absolute;
    top: 170px;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    /* background: brown; */
  }
  .active.classes:hover ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .active ul li {
    background: #077054;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.rectangle {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    background: white;
    padding: 40px 0px;
    margin: 0% 10%;
    min-height: 827px;
  }
  /* -----------------------------------------
        This is for homepage
       -----------------------------------------
    */
  .yoga {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    padding: 0px;
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  .yogs {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 5px;
  }
  .purple {
    background: #d3a3ff;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 40%;
    height: 2%;
    margin: auto;
    /* border: 2px solid; */
  }
  .better {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    /* border: 2px solid; */
  }
  h2 {
    text-align: center;
    font-family: 'nixie_oneregular';
    font-size: 10rem;
    text-align: center;
    color: #21a51e;
    font-weight: lighter;
  }
  .imageyoga {
    width: 30%;
    background: url("./lady-in-yoga.jpg");
    background-repeat: no-repeat;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    padding: 30px;
    margin: 0px;
  }
  /* -----------------------------------------
        This is for about 
       -----------------------------------------
    */
  .heade {
    font-size: 1.3rem;
    font-family: 'nixie_oneregular';
    margin: 0px;
  }
  .imageyogaa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    margin: auto;
  }
  .imageyogaa img {
    width: 100%;
    height: auto;
  }
  /* -----------------------------------------
        This is for classes 
       -----------------------------------------
    */
  .class {
    width: 100%;
    /* background: brown; */
    margin: 0px 0px 0px;
    font-size: 2rem;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .classtime {
    margin: 0px 0px 0px 50px;
    line-height: 30px;
    /* background: #99fa99; */
    width: 50%;
  }
  .imageyogaa {
    width: auto;
    margin: 0px 20px;
  }
  .classhead {
    font-size: 2.3rem;
    font-family: 'nixie_oneregular';
    /* background: blue; */
    padding: 0px;
    margin: 0px 0px 0px 50px;
  }
  .head {
    font-size: 1.7rem;
    font-family: 'nixie_oneregular';
    /* background: black; */
  }
  /* -----------------------------------------
        This is for instructors 
       -----------------------------------------
    */
  #instructors {
    margin: 0px 0px 0px 50px;
    line-height: 30px;
    /* background: #99fa99; */
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  figure {
    /* height: 200px; */
    margin: 0px 30px;
    /* background: blue; */
    row-gap: 2px;
  }
  figcaption {
    text-align: center;
    font-family: 'nixie_oneregular';
    font-size: 2rem;
    /* background: red; */
  }
  figure img {
    margin: 0px;
    background: yellow;
    /* row-gap: 2px; */
  }
  /* -----------------------------------------
        This is for contacts 
       -----------------------------------------
    */
  .inquiries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8% 0px 0px;
    /* background: blue; */
  }
  form {
    /* background: black; */
    font-size: 2rem;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    height: 70%;
    padding: 0px 0px 0px 0px;
  }
  input {
    height: 40px;
    width: 100%;
    background: #d1d3d4;
    border: none;
    border-radius: 3px;
    margin: 10px 0px;
  }
  #message {
    height: 222px;
    border: none;
    border-radius: 7px;
    width: 100%;
    background: #d1d3d4;
  }
  button {
    float: right;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 6px;
  }
  .submit {
    background: #077054;
    color: #b6d8cf;
    padding: 0px px;
    border-radius: 6px;
    font-size: 1.4rem;
  }
  .submit:hover {
    background: #d3a3ff;
    color: black;
  }
  /* -----------------------------------------
        This is for blog
       -----------------------------------------
    */
  .blog {
    /* background: brown; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    /* padding: 10% 0px; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    /* height: 720px; */
  }
  .blog1 {
    /* background: black; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 50px 0px;
    margin-right: 5%;
    font-size: 3.5rem;
  }
  .blog1 img {
    padding: 0px;
    margin: 0px;
    /* flex-basis: 30%; */
    margin: 0px 0px 0px 50px;
  }
  div.blogtext1 {
    /* background: pink; */
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin: 0px 0px 0px 20px;
  }
  /* -----------------------------------------
        This is for footer
       -----------------------------------------
    */
  .foot {
    /* box-sizing: content-box; */
    /* background: blue; */
    margin: 2% 10% 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'lato-regular';
    color: #99fa99;
    font-weight: lighter;
  }
  .foot div {
    /* border: 2px solid; */
    padding: 3px;
  }
  div.location {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    font-size: 2.5rem;
    font-weight: normal;
  }
  div.location span {
    font-size: 1.1rem;
    font-weight: normal;
    color: #b6d8cf;
  }
  div.icon {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    /* background: black; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'lato-regular';
    color: #99fa99;
  }
  .icon .remo {
    margin: 0px 13px;
  }
  .remo {
    text-decoration: none;
    outline: none;
    /* background: black; */
    padding: 0px;
  }
}
/*# sourceMappingURL=index.css.map */