


/* -----------------------------------------
    CSS specified defaults
   -----------------------------------------
*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
@media only screen and (max-width:918px){
body{
    width: 100%;
    background: #077054;
    color: #315f52;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: 'lato-regular';
    font-weight: lighter;
    /* line-height: 20px; */
    /* src: url('lato-regular-webfont.ttf'); */
}
@font-face{
    font-family: 'lato-regular';
    src: url('./lato-regular-webfont.ttf');
    font-weight: lighter;
}
@font-face {
	font-family: 'nixie_oneregular';
    src: url('./nixieone-regular-webfont.ttf');
}
html{
    width: 100%;
}

/* -----------------------------------------
    This is for header 
   -----------------------------------------
*/
.mobile-menu{
    position: absolute;
    right: 10px;
    top: 40px;
    margin-right:20px;
    background: black;

}
#menu-close {
    display: none;
}
#menu-close.open {
    display: flex;
}
#menu.open{
    display: none;
}
#menu{
    cursor: pointer;
}
#menu-close{
    cursor: pointer;
}
h1{
    text-align: center;
    font-family: 'lato-regular';
    color:  #99fa99;
    padding: 30px 0px 0px;
    margin: 0px 0px;
    margin-top: 70px;
    font-size: 50px;
    line-height: 50px;
    font-weight: lighter;
    
    /* background-color: pink; */
}
h3{
text-align: center;
font-family: 'nixie_oneregular';
font-weight: lighter;
font-size: 26px;
color:  #b6d8cf;
padding: 07px 0px 20px;
margin: 0px;


}
/* nav ul{
    align-self : center;
} */

ul {
/* text-align: left; */
list-style-type: none;
display:none ;
flex-direction: column;
position: absolute;
background-color: #077054;
top: 90px;
width: 90%;
opacity: 0.9;
padding: 0px;
margin: 0px 05%;
flex-wrap: wrap;
justify-content: center;
z-index: 3;

}


ul.open{
display: flex;

}

ul li{
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-size: 17px;
font-weight: lighter;
border: white solid 1px;

}
.active a,.active.inst a{
    color:white;
    /* background: #99fa99; */
    height: auto;
    width: 100%;
    outline: none;
    text-decoration: none;
    
}
.active{
    
    background: #99fa99b9 ;
    /* color: blue; */
    padding: 20px 40px 09px;
}
.active.classes ul{
    /* background: blue !important; */
    width:  auto!important;
    /* height: 20px; */
    position: relative;
    top: 10px;
    left: -41px;
    clear: right;
}
.active.classes li{
    /* background: red; */
    width: 100%;
    height: 3rem;
}
.active.inst{
    height: 54px !important;
    /* background: blue; */
}
.about.inst,.active.inst{
    height:24px;
}
.active.inst a{
    /* background: black; */
    width: 82%;
    position: absolute;
    top: 151px;
    left:00px;
    margin: 0px;
}
.about.inst a{
    width: 123%;
    position: absolute;
    top: 0px;
    left:00px;
    margin: 0px;
    padding: 20px 60px;
    padding-right: 0px;
    /* border: white solid 1px;
    border-right: 0px solid black; */
}
.about.inst a:hover{
    padding: 15px 60px;
    padding-right: 0px;
}





.about:hover{
    background: #077054 ;
    color: white;
}

.about a{
   outline: none; 
   color: white;
   text-decoration: none;
   padding: 20px 40px 09px;
}
.about a:hover{
    background:#99fa99b9;
    color:white !important;
    padding: 20px 40px 09px;
    /* width: 100%; */
    outline: none;
    
}
.about ul, .active ul {
    display: none;
    /* flex-direction: column;
    flex-wrap: wrap; */
	left: 0;
	list-style: none outside none;
	margin: 0;
	padding: 0px;
    position: static;
    width: 100%;
    /* top: 14.5rem;
    left: 34%; */
    background: brown;
}

.about.classes:hover ul,
.active.classes:hover ul {
    display:none;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 100%; */
    
}

.about.classes ul.expand,
.active.classes ul.expand  {
    display:flex;
    background:#114b3b;
    
    
}
.classes ul li{
    border-bottom: none;
}

.mobile-ex{
    /* background: blue; */
    position: absolute;
    right: 0px;
    top: 100px;
    cursor: pointer;
    border-left: white solid .5px;
    height: 50px;
    
    
}
#expand.expand{
    display: none;
}
#collapse.expand{
    display: flex;
}
#collapse{
    display: none;
}
/* .about ul li {
    background:#077054;;
    padding: 10px 30px;
    display: flex;
} */



.active ul {
    display: none;
    flex-direction: column;
	/* list-style: none outside none; */
	margin: 0;
	padding: 0px;
	
    /* background: brown; */
}
/* .active.classes ul li{
    background: brown !important;
}
.active.classes ul {
    background:black ;
    
}

.active.classes:hover{
    background: purple;
} */
.active.classes.expand:hover ul {
    display:none;
    
}
.active ul li a {
    background:#077054;
    padding: 10px 30px;
    /* display: flex; */
}





div.rectangle{
    box-sizing: content-box;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    min-height: 827px;
    width: ;
    margin: 0px 5%;
    /* display: flex; */

}

/* -----------------------------------------
    This is for homepage
   -----------------------------------------
*/
.yoga{
    display: flex;
    flex-direction: column;
    /* border: 3px solid; */
    width: 100%;
    padding: 0px 0px;
    margin: 0px;
    /* flex-wrap: wrap; */
    /* background: yellow; */
    justify-content: center;   
    /* background: pink; */
    flex-wrap: wrap;
    text-align: center;
    
}

.yogs{
    flex: 1;
    /* border: 2px solid; */
    /* order: 3; */
    padding: 5px;

}

.purple{
    background: #d3a3ff;
    flex:1;
    /* order:2; */
    
    width: 130px;
    height: 10px;
    /* border: 2px solid; */
    position: relative;
    left:34%;
    top: 30px ;
}

.better{
    flex:1;
    order:1;
    padding: 0px 0px;
    margin: 0px;
}

h2{
    text-align: center;
    font-family: 'nixie_oneregular';
    font-size: 4.3rem;
    text-align: center;
    color: #21a51e;
    font-weight: lighter;
    margin: 0px;

}

.imageyoga{
    width: 30%;
    background: url('./lady-in-yoga.jpg');
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    padding: 0px 50px;
    margin: 0px;
}


/* -----------------------------------------
    This is for about 
   -----------------------------------------
*/
.heade{
    font-size: 1.3rem;
    font-family: 'nixie_oneregular';
    margin: 0px;
}
.class{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px ;
   
}
.classtime{
    width: 100%;
    line-height: 30px;
    padding: 0px;
    margin: 0px 20px;
    
}


/* -----------------------------------------
    This is for classes 
   -----------------------------------------
*/

.imageyogaa{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 20px;
}
.classhead{
    font-size: 2.3rem;
    font-family: 'nixie_oneregular';
    padding: 0px;
    margin: 0px 0px 0px 20px;
    
}

.head{
    font-size: 1.3rem;
    font-family: 'nixie_oneregular';
    /* background: black; */
}

/* -----------------------------------------
    This is for instructors 
   -----------------------------------------
*/
#instructors{
    margin: 0px 0px 0px 0px;
    line-height: 30px;
    /* background: #99fa99; */
    justify-content:center;
    width: 100%;
    display: flex;
    flex-direction: column;


      
}
#instructors1{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#instructors2{
    display: flex;
    flex-direction: row;
    
}
figure{
    /* height: 200px; */
    margin: 0px 1rem;
    width: 100%;
    
}
figcaption{
    text-align: center;
    font-family: 'nixie_oneregular';
    font-size: 1rem;
    /* background: red; */
}
figure img{
    width:100%;
    height: auto;
    margin: 0px 0px 0px 5px;
   
}

/* -----------------------------------------
    This is for contacts 
   -----------------------------------------
*/
.inquiries{
    display: flex;
    justify-content: center;
    padding: 8% 0px 0px;
    margin: 10px;
    
}
form{
    
    /* background: black; */
    font-size: 16px;
    flex-basis: 400px;
    height: 70%;
    padding: 0px 0px 0px 0px;
    
       
}
input{
    height: 40px;
    width: 100%;
    background: #d1d3d4;
    border: none;
    border-radius: 3px;
    margin: 10px 0px;
}

#message{
    height: 222px;
    border: none;
    border-radius: 7px;
    width: 100%;
    background: #d1d3d4;
}
button{
    position: relative;
    left: 89%;
    margin: 0px 0px 0px;
    padding: 0px;
    border: 0px;
    border-radius: 6px;
}
.submit{
    background: #077054;
    color: #b6d8cf;
    padding: 0px px;
    border-radius: 6px;
}
.submit:hover{
    background: #d3a3ff;
    color: black;
}

/* -----------------------------------------
    This is for blog
   -----------------------------------------
*/

.blog{
    /* background: brown; */
    display: flex;
    margin: 0px;
    /* padding: 10% 0px; */
    flex-direction: column;
    /* align-content: space-around; */
    /* height: 720px; */
    
}
.blog1{
    /* background: black; */
    display: flex;
    flex-basis: 100%;
    margin: 20px 0px;
    flex-wrap: wrap;
    /* background: blue; */

    
    /* justify-content: center;
    align-content: flex-start;
    align-items: flex-start; */
   
}
.blog1 img{
    
    padding: 0px;
    margin:0px;
    /* flex-basis: 30%; */
    margin: 0px 20px 0px 20px;
    width: 100%;
    height: 100%;
}
div.blogtext1{
    /* background: pink; */
    flex-basis: 100%;
    margin: 0px 0px 0px 20px;
    
}



/* -----------------------------------------
    This is for footer
   -----------------------------------------
*/

.foot{
    /* box-sizing: content-box; */
    /* background: blue; */
    margin: 0px 5% 90px;
    display: flex;
    font-family: 'lato-regular';
    color:  #99fa99;
    font-weight: lighter;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
    
}

div.location{
    flex-basis: 100%;
    font-size: 1.7rem;
    font-weight: normal;
}
div.location span{
    font-size:1rem;
    font-weight: normal;
    color: #b6d8cf;
}
div.icon{
    flex-basis:100%;
    display: flex;
    justify-content: flex-end;
    /* background: black; */
    align-items: center;
    font-family: 'lato-regular';
    color:  #99fa99;
}

.icon .remo{
    margin: 0px 13px;
}
.remo{
text-decoration: none;
outline: none;
/* background: black; */
padding: 0px;
}

}

